@result-font-large: 18px;
@result-font-medium: 16px;
@result-font-url: 14px;
@result-font-small: 12px;
@result-description-color: @text-color;
@result-image-border-color: @color-almost-white;
.result {

    // Remove the margin from the first result because it already has margin from the grid ruleset
    &:nth-child(1) {
        margin-top: 0;
    }
    margin: @padding-small-default 0px;
    @media(max-width: @screen-mobile){
        .card;
        margin: @padding-small-default 0px;
    }
    
    padding: 0px 8px;
    width: 100%;
    .result-header {
        max-width: 100%;
        overflow: hidden;
        .result-headline {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .result-title {
                margin: 0px;
                &>* {
                    font-size: .8em;
                }
                .overflow-ellipsis;
                .result-price {
                    padding: 0px 10px;
                    color: white;
                    background-color: #666699;
                    border-radius: 3px;
                }
                a {
                    &,
                    &:active,
                    &:hover,
                    &:focus,
                    &:visited {
                        color: @text-color;
                        text-decoration: none;
                    }
                }
            }
            .result-hoster {
                font-size: .9em;
                margin-left: 20px;
                color: #808080;
                white-space: nowrap;
            }
        }
        .result-subheadline {
            width: 100%;
            display: flex;
            align-items: center;
            line-height: 1.3;
            .result-link {
                .overflow-ellipsis;
                display: block;
                font-size: .95em;
                width: fit-content;
                max-width: 100%;
                &,
                &:active,
                &:hover,
                &:focus,
                &:visited {
                    font-size: 1em;
                    text-decoration: none;
                }
                &:visited {
                    color: #8091A2;
                }
                span.advertisement-mark {
                    border-color: #0d9c0d;
                    color: #0d9c0d;
                    padding: 1px;
                    border-radius: 4px;
                    font-weight: bold;
                    font-size: .6em;
                    margin-right: 4px;
                    border: 1px solid;
                    position: relative;
                    top: -2px;
                }
            }
            a.partnershop-info {
                display: block;
                background-color: white;
                color: #333;
                text-shadow: none;
                font-weight: inherit;
                border: 1px solid #686868;
                padding: 2px;
                margin-left: 8px;
                border-radius: 4px;
                font-size: .6em;
            }
        }
    }
    .result-body {
        margin-top: 1px;
        max-width:100%;
        margin-bottom: 8px;
        &.with-image {
            display: grid;
            grid-template-columns: minmax(max-content, 160px) auto;
            grid-column-gap: 8px;
            grid-row-gap: 8px;
            @media(max-width: 380px){
                grid-template-columns: 1fr;
                grid-template-rows: auto auto;
            }
            .result-image {
                align-self: center;
                justify-self: center;
            }
            .result-description {
                align-self: center;
            }
        }
        text-align: justify;
        .result-image {
            
            max-width: 160px;
            > a{
                display: block;
                > img {
                    display: block;
                    max-width: 160px;
                    max-height: 120px;
                    width: auto;
                    height: auto;
                }
            }
        }
        .result-description {
            align-self: center;
            margin-bottom: 3px;
            color: @result-description-color;
            font-size: .95em;;
            line-height: 1.3;
            clear: both;
            overflow: hidden;
            .date {
                font-weight: bold;
            }
            p {
                margin: 0;
                margin-bottom: 4px;
            }
            img {
                margin: 5px;
                margin-left: 0px;
                margin-right: 15px;
                height: auto;
                width: auto;
                max-width: 120px;
                max-height: 200px;
                border: solid 1px @result-image-border-color;
            }
        }
    }
    .result-footer {
        margin-top: 2px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        &>* {
            margin-right: 20px;
        }
        .result-open,
        .result-open-newtab {
            &,
            &:active,
            &:hover,
            &:focus,
            &:visited {
                color: @text-color;
                font-size: .7em;
                text-decoration: none;
            }
        }
        @media (max-width: @screen-mobile) {
            .result-open-newtab {
                display: none;
            }
        }
        .result-open-proxy {
            &,
            &:active,
            &:hover,
            &:focus,
            &:visited {
                color: @text-color;
                font-size: .7em;
                text-decoration: none;
            }
            white-space: nowrap;
            img {
                margin-bottom: 0px;
                margin-right: 2px;
            }
        }
        .open-result-options, .close-result-options {
            font-weight: normal;
            font-size: .7em;
            flex-grow: 1;
            text-align: right;
            margin-right: 0;
        }
        .close-result-options {
            display: none;
        }
    }

    /* CSS Rules for the result options */
    .result-toggle{
        &:checked + .result-footer > .open-result-options {
            display: none;
        }
        &:checked + .result-footer > .close-result-options {
            display: initial;
        }
        &:checked + .result-footer + .result-options > .options {
            max-height: 150px;
            overflow: initial;
            opacity: 1;
            display: initial;
        }
    }

    .result-footer * {
        font-size: .7em;
    }
    &.ad .ad-label {
        &,
        & a,
        & a:active,
        & a:hover,
        & a:focus,
        & a:visited {
            font-size: .9em;
            color: #808080;
        }
    }
    &>.remover {
        cursor: pointer;
        text-align: right;
        color: #777;
    }
    &>.result-options {
        max-width: 100%;
        &>.options {
            border-top: 1px solid @border-color;
            width: 100%;
            text-align: right;
            overflow: hidden;
            display: none;
            max-height: 0px;
            transition: all 1s;
            -webkit-transition: all 1s;
            opacity: 0;
        }
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
            li {
                font-size: .85em;
                margin: 8px 16px 8px 0;
            }
            @media(max-width: @screen-mobile){
                li:nth-child(1){
                    display: none;
                }
            }
            li>a {
                color: @link-color;
            }
        }
        
    }
}