.hilfe,
.faq {
    section {
        .card-light; 
        @media(max-width: @screen-medium){
            .card-medium;
        }
        @media(max-width: @screen-small){
            .card-heavy;
        }
        margin: 4px 0;
        h3 {
            border-bottom: 1px solid #aaa;
        }
        .search-example {
            border: 1px solid #aaa;
            background-color: @background-color;
            border-radius: 5px;
            padding: 10px;
        }
        div.image-container {
            align-items: center;
            justify-content: center;
            img {
                margin: 10px 0;
                padding: 8px;
                border: 1px solid @border-color;
                border-radius: 3px;
            }
        }
    }
    .fake-result {
        *:hover {
            overflow: visible !important;
        }
        .result-footer {
            overflow: hidden;
            align-items: center;
        }
        .open-result-options label {
            padding: 10px;
            border: 2px dashed red;
            border-radius: 100%;
            color: black;
            font-size: 1em;
            text-decoration: none;
            font-weight: normal;
        }
    }
}