.privacy {
    ol, ul {
        list-style-type: none;
        padding-left: 0;
    }
    .section {
        margin: 8px 0;
        .card-light;
        @media(max-width: @screen-medium){
            .card-medium;
        }
        @media(max-width: @screen-small){
            .card-heavy;
        }
        .kontext {
            border-bottom: 1px solid @border-color;
            border-top: 1px solid @border-color;
            padding: 8px 0;
            .datum-list {
                margin-top: 8px;
                > li {
                    padding: 8px 0;
                }
            }
        }
    }
}