
@import "./variables.less";

// Default Background Color
@background-color: @color-almost-black;
@background-color-mobile: @color-almost-black;
// General text color.
@text-color: @color-white;
// Default textual link color.
@link-color: #FF8000;
// Sidebar styles
@sidebar-list-hover-color: @color-strong-grey;
// Card styles
@card-background-color: @color-strong-grey;
// Default Borde Color 
@border-color: #727272;
